/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * Parent...............Parent styles
 *
 * GENERIC
 * Normalize.css........A level playing field.
 *
 * BASE
 * Typo.................Fonts and general typography
 * Colors...............Typo colors, links
 * Layout...............Layout structure
 * Forms................Buttons, inputs
 *
 * COMPONENTS
 * Messages.............Notification center
 *
 * PLUGINS
 * Headroom.............Headroom.js sticky header
 * Pace.................Pace progress bar
 * Ladda................Ladda buttons
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/**
 * Global
 */
@import "_variables.scss";

/**
 * Parent
 */
@import "../wyvern/style.scss";

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/**
 * Normalize.css
 */
@import "node_modules/normalize.css/normalize.css";

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
 * Typo
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext");

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

/**
 * Colors
 */
a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $hover-color;
  }
}

/**
 * Layout
 */
body {
  overflow-x: hidden;
  .page.content {
    padding-top: $header-height;
    width: 100vw;
  }
  &.pinned {
    .sidebar {
      padding-top: $header-height;
    }
    &.filtering {
      .sidebar {
        padding-top: calc($header-height + $filter-height);
      }
    }
  }
  &.filtering {
    .page.content {
      padding-top: calc($header-height + $filter-height);
    }
  }
}

.cols {
  display: flex;
  & > div {
    flex: 1;
  }
  .sidebar {
    max-width: $sidebar-width;
  }
  .main {
    padding-left: $sidebar-width;
  }
}

.no-overflow {
  overflow: hidden;
}

.container {
  max-width: $container-width;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.levels-wrapper {
  .levels-inner-wrapper {
    max-width: $container-width;
    margin: 0 auto;
  }
}
//
.theme-header {
  z-index: 100;
}

/**
 * Forms
 */
// Group
.form-group {
  padding: 5px 0;
}

.form-group--lg {
  .control-label { display: none; }
}

// Buttons
.btn--block {
  display: block;
  width: 100%;
}

.btn--primary {
  background-color: $brand-primary;
  color: $background-color;
}

.btn__remove {
  background-color: transparent;
  border: 1px solid #000;
  opacity: 0.2;
  line-height: 0;
  padding: 5px;
  border-radius: 2px;
  i {
    width: 12px;
    height: 12px;
    background-size: 75% 75%;
  }
  &:hover {
    opacity: 0.8;
  }
}

.btn--lg {
  line-height: calc($line-height*2.5);
}

.btn__empty_cart {
  background-color: transparent;
  color: #aaa;
  font-size: 12px;
  padding: 0 10px;
  border: 1px solid #aaa;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
  i {
    width: 12px;
    height: 12px;
    background-size: 75% 75%;
    opacity: 0.5;
  }
}

.btn--facebook {
  background-color: $color-facebook-bg;
  color: $color-facebook-fg;

  background-image: resolve(./assets/icons/facebook.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 20px center;
}

.btn--google {
  background-color: $color-google-bg;
  color: $color-google-fg;

  background-image: resolve(./assets/icons/google.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 20px center;
}

.btn__login {
  border: 1xp solid $brand-border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 0.5em;
  &.btn--facebook {
    border: 1px solid $color-facebook-bg;
  }
  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  }
}

// Inputs
.form-control {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
}

.form-control--lg {
  line-height: calc($line-height*2.5);
  border-radius: 4px;
}

// Inputs - skin default
.form-control {
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: calc($line-height*0.6);
  line-height: calc($line-height*1.5);
  padding: 0 calc($line-height/2);
  &:focus {
    outline: none;
  }
}

.number-picker {
  overflow: hidden;
  font-size: calc($line-height*0.6);
  line-height: calc($line-height*1.5);
  padding: 0 calc($line-height/2);
  & > * {
    border-color: #eee !important;
  }
  & > *:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  & > *:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .number-picker__button {
    font-weight: 700;
    background-color: #eee;
    &:hover {
      background-color: #bbb;
    }
  }
}

.control-label {
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: calc($line-height/4);
  display: block;
}

.order__option {
  font-size: 12px;
  text-transform: uppercase;
  line-height: calc($line-height*1.5);
  padding: 0 calc($line-height/2);
  border: 1px solid #bbb;
  opacity: 0.75;
  &.active {
    opacity: 1;
  }
}

.order__option__title {
  display: inline-block;
}

// Inputs - skin floating labels
.form-group:not(.order__selection) {
  position: relative;
  overflow: hidden;
  .form-control {
    border: 0;
    background-color: #ddd;
    box-shadow: none;
    border-radius: 0;
    &::-webkit-input-placeholder {
      color: #ddd;
    }
    &::-moz-placeholder {
      color: #ddd;
    }
    &:-ms-input-placeholder {
      color: #ddd;
    }
    &:-moz-placeholder {
      color: #ddd;
    }
  }

  .control-label:not(.control-label--checkbox) {
    position: absolute;
    top: 5px;
    padding: 0 calc($line-height/2);
    line-height: calc($line-height*1.5);
    transition: transform 0.6s;
    opacity: 0.8;
  }

  &.has--input {
    .control-label:not(.control-label--checkbox) {
      transform: translateY(-200%);
    }
  }
}

.order__option {
  background-color: #ddd;
  border: 0 !important;
  &.active,
  &:hover {
    background-color: $brand-primary;
    color: #fff;
    border: 0 !important;
  }
}

// or-line
.or-line {
  position: relative;
  width: 100%;
  text-align: center;
  height: $line-height;
  margin-top: calc($line-height/2);
  margin-bottom: calc($line-height/2);
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc($line-height/2);
    width: 100%;
    height: 1px;
    background-color: $brand-border;
    z-index: 1;
  }
  span {
    display: inline-block;
    margin: 0 auto;
    background: $background-color;
    z-index: 2;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/**
 * Order selection
 */
.order__selection {
  display: flex;
  & > * {
    flex: 1;
  }
  .control-label {
    max-width: 150px;
  }
}

.order__option {
  border: 1px solid $link-color;
  padding: 0 15px;
  margin-bottom: 5px;
  cursor: pointer;
  .order__option__title {
    margin: 0;
    line-height: 35px;
    font-weight: 400;
  }
  &.active,
  &:hover {
    border: 1px solid $hover-color;
    .order__option__title {
      font-weight: 700;
    }
  }
  .order__option__code,
  .order__option__description {
    display: none;
  }
}

// Navigation
.nav.nav--list {
  padding-left: 0;
  display: block;
  width: 100%;
  li {
    display: block;
    width: 100%;
    button {
      display: block;
      width: 100%;
      &.active {
        font-weight: 700;
      }
    }
  }
}

.list-nav {
  list-style-type: none;
  padding-left: 0;
  font-size: 21px;
  line-height: 30px;
  .active {
    color: $hover-color;
  }
}

.list-nav--footer {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: $sidebar-width;
  position: fixed;
  bottom: 20px;

  &::before {
    position: absolute;
    top: -20px;
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background-color: $link-color;
  }

  .item--social {
    position: absolute;
    top: -60px;
    font-size: 20px;
    font-family: monospace;
    &:nth-of-type(2) {
      left: 30px;
    }
  }
}

// Tables
.table {
  width: 100%;
}

// Alerts
.alert {
  display: block;
  padding: 10px 25px;
  width: 100%;
}

.alert--success {
  border: 1px solid green;
  color: green;
}
//

// Woocommerce
.product {
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    z-index: 9999;
  }
}

a.product {
  color: $text-color;
}

.product__excerpt {
  display: none;
}

.catalog {
  .btn.btn--cart {
    display: none;
  }
}

// Page styles
.shop {
  .entry-title,
  .entry-content {
    display: none;
  }
}

// Orders
.order__entry {
  border: 1px solid $brand-border;
  padding: 5px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

// Icons
.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}

.icon__social {
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.icon--close {
  background-image: resolve(./assets/icons/close.svg);
}

.icon--facebook {
  background-image: resolve(./assets/icons/facebook_dark.svg);
}

.icon--instagram {
  background-image: resolve(./assets/icons/instagram_dark.svg);
  background-size: 18px 18px;
}

// Selection guide
.selection-guide {
  //background-image: resolve(./assets/images/berboty1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  .btn--search {
    background-color: #000;
    text-transform: uppercase;
    line-height: 150px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: block;
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    right: 100px;
    letter-spacing: 2px;
    border: 10px solid #d0ea00;
    transition: all 0.6s;
    &:hover {
      background-color: #d0ea00;
    }
  }
  .headline--guide {
    width: 240px;
    height: 240px;
    background-color: #bd0fe1;
    border-radius: 50%;
    color: #fff;
    line-height: 240px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: 10px solid #d0ea00;
    position: absolute;
    z-index: 1;
    left: -80px;
    top: 100px;
    z-index: 1;
    span {
      max-width: 50%;
      line-height: 28px;
      display: inline-block;
    }
  }
  .filters {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 1;
  }
}

.slider__image__wrapper {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.selection__image {
  width: 100%;
  height: auto;
  transition: all 0.6s;
}

.selection-guide {
  &.changing {
    .selection__image {
      transform: scale(1.2);
    }
  }
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/**
 * Messages
 */
.messages {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  width: 300px;

  .message {
    padding: $base-padding;
    margin-bottom: 10px;
  }

  .success {
    background-color: white;
    color: green;
    border: 1px solid green;
  }

  .error {
    background-color: white;
    color: red;
    border: 1px solid red;
  }

  .warning {
    background-color: white;
    color: orange;
    border: 1px solid orange;
  }

  ul {
    list-style-type: none;
  }
}

// Transitions
.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.6s;
  transform: translateY(0);
  margin-bottom: 0;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(-$filter-height);
  margin-bottom: -$filter-height;
}

// List transition
.list-item {
  display: block;
  margin-right: 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter,
.list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}

/*------------------------------------*\
  #PLUGINS
\*------------------------------------*/

/**
 * Headroom
 */
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

.animated--all {
  transition: all 0.5s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideDown {
  animation-name: slideDown;
}

.animated.slideUp {
  animation-name: slideUp;
}

/**
 * Pace
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $brand-primary;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/**
 * Ladda
 */
@import "_ladda.scss";

.ladda-button[data-style=contract] {
  width: 100%;
  height: 52px;
}

.ladda-button[data-style=contract][data-loading] {
  height: 52px;
}

/**
 * Loader
 */
.loader,
.loader::before,
.loader::after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: $brand-primary;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader::before {
  color: $brand-color1;
}

.loader {
  color: $brand-color2;
}

.loader::after {
  color: $brand-color3;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
}

.loader::before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader::after {
  left: 3.5em;
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*
.loader,
.loader::before,
.loader::after {
  background: $brand-primary;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: $brand-primary;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: "";
}

.loader::before {
  left: -1.5em;
  animation-delay: -0.32s;
}

.loader::after {
  left: 1.5em;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
*/
