/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * Parent...............Parent styles
 *
 * GENERIC
 * Normalize.css........A level playing field.
 *
 * BASE
 * Typo.................Fonts and general typography
 * Colors...............Typo colors, links
 * Layout...............Layout structure
 * Forms................Buttons, inputs
 *
 * COMPONENTS
 * Messages.............Notification center
 *
 * PLUGINS
 * Headroom.............Headroom.js sticky header
 * Pace.................Pace progress bar
 * Ladda................Ladda buttons
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/**
 * Global
 */
@import '_variables.scss';

/**
 * Parent
 */
@import '../wyvern/style.scss';

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/**
 * Normalize.css
 */
@import 'node_modules/normalize.css/normalize.css';

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
 * Typo
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

/**
 * Colors
 */
a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $hover-color;
  }
}

/**
 * Layout
 */
body {
  .page.content {
    padding-top: $header-height;
  }
  &.pinned {
    .sidebar {
      padding-top: $header-height;
    }
    &.filtering {
      .sidebar {
        padding-top: calc($header-height + $filter-height);
      }
    }
  }
  &.filtering {
    .page.content {
      padding-top: calc($header-height + $filter-height);
    }
  }
}

.cols {
  display: flex;
  & > div {
    flex: 1;
  }
  .sidebar {
    max-width: $sidebar-width;
  }
  .main {
    padding-left: $sidebar-width;
  }
}

.no-overflow {
  overflow: hidden;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.levels-wrapper {
  .levels-inner-wrapper {
    max-width: $container-width;
    margin: 0 auto;
  }
}

/**
 * Forms
 */
// Group
.form-group {
  padding: 5px 0;
}

.form-group--lg {
  .control-label { display: none; }
}

// Buttons
.btn { }

.btn--block {
  display: block;
  width: 100%;
}

.btn--lg {
  line-height: calc($line-height*2.5);
}

.btn--facebook {
  background-color: $color-facebook-bg;
  color: $color-facebook-fg;

  background-image: resolve(./assets/icons/facebook.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 20px center;
}

.btn--google {
  background-color: $color-google-bg;
  color: $color-google-fg;

  background-image: resolve(./assets/icons/google.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 20px center;
}

.btn__login {
  border: 1xp solid $brand-border;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-top: 0.5em;
  &.btn--facebook {
    border: 1px solid $color-facebook-bg;
  }
  &:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
}

// Inputs
.form-control {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
}

.form-control--lg {
  line-height: calc($line-height*2.5);
  border-radius: 4px;
}

// or-line
.or-line {
  position: relative;
  width: 100%;
  text-align: center;
  height: $line-height;
  margin-top: calc($line-height/2);
  margin-bottom: calc($line-height/2);
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: calc($line-height/2);
    width: 100%;
    height: 1px;
    background-color: $brand-border;
    z-index: 1;
  }
  span {
    display: inline-block;
    margin: 0 auto;
    background: $background-color;
    z-index: 2;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/**
 * Order selection
 */
.order__selection {
  display: flex;
  & > * {
    flex: 1;
  }
  .control-label {
    max-width: 150px;
  }
}

.order_selection_options {

}

.order__option {
  border: 1px solid $link-color;
  padding: 0 15px;
  margin-bottom: 5px;
  cursor: pointer;
  .order__option__title {
    margin: 0;
    line-height: 35px;
    font-weight: 400;
  }
  &.active, &:hover {
    border: 1px solid $hover-color;
    .order__option__title {
      font-weight: 700;
    }
  }
  .order__option__code, .order__option__description {
    display: none;
  }
}



// Navigation
.nav {

}

.nav.nav--list {
  padding-left: 0;
  display: block;
  width: 100%;
  li {
    display: block;
    width: 100%;
    button {
      display: block;
      width: 100%;
      &.active {
        font-weight: 700;
      }
    }
  }
}

.list-nav {
  list-style-type: none;
  padding-left: 0;
  font-size: 21px;
  line-height: 30px;
  .active {
    color: $hover-color;
  }
}

.list-nav--footer {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: $sidebar-width;
  position: fixed;
  bottom: 20px;

  &:before {
    position: absolute;
    top: -20px;
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background-color: $link-color;
  }

  .item--social {
    position: absolute;
    top: -60px;
    font-size: 20px;
    font-family: monospace;
    &:nth-of-type(2) {
      left: 30px;
    }
  }
}


// Tables
.table {
  width: 100%;
}

// Alerts
.alert {
  display: block;
  padding: 10px 25px;
  width: 100%;
}

.alert--success {
  border: 1px solid green;
  color: green;
}
//

// Woocommerce
.product {
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    z-index: 9999;
  }
}

.product__excerpt {
  display: none;
}

.catalog {
  .btn.btn--cart {
    display: none;
  }
}

// Page styles
.shop {
  .entry-title, .entry-content {
    display: none;
  }
}

// Orders
.order__list {

}

.order__entry {
  border: 1px solid $brand-border;
  padding: 5px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

// Icons

.icon {

}

.icon__social {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.icon--facebook {
  background-image: resolve(./assets/icons/facebook_dark.svg);
}

.icon--instagram {
  background-image: resolve(./assets/icons/instagram_dark.svg);
  background-size: 18px 18px;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/**
 * Messages
 */
.messages {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  width: 300px;

  .message {
    padding: $base-padding;
    margin-bottom: 10px;
  }

  .success {
    background-color: white;
    color: green;
    border: 1px solid green;
  }

  .error {
    background-color: white;
    color: red;
    border: 1px solid red;
  }

  .warning {
    background-color: white;
    color: orange;
    border: 1px solid orange;
  }

  ul {
    list-style-type: none;
  }
}



// Transitions
.slide-up-enter-active, .slide-up-leave-active {
  transition: transform .6s;
  transform: translateY(0);
  margin-bottom: 0;
}
.slide-up-enter, .slide-up-leave-to {
  transform: translateY(-$filter-height);
  margin-bottom: -$filter-height;
}

// List transition
.list-item {
  display: block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}

/*------------------------------------*\
  #PLUGINS
\*------------------------------------*/

/**
 * Headroom
 */
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

.animated--all {
  transition: all 0.5s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideDown {
  animation-name: slideDown;
}

.animated.slideUp {
  animation-name: slideUp;
}

/**
 * Pace
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $brand-primary;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/**
 * Ladda
 */
@import '_ladda.scss';

.ladda-button[data-style=contract] {
  width: 100%;
  height: 52px;
}
.ladda-button[data-style=contract][data-loading] {
  height: 52px;
}